@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full w-full;
}

body {
  @apply h-full w-full;
}

.prueba {
  @apply bg-red-300;
}

h1 {
  @apply text-3xl font-bold;
}

.DashboardBody {
  @apply bg-amber-50
            h-full 
            w-full
            flex flex-col 
            items-center 
            p-10;
}

.BarCard {
  @apply bg-white 
          m-4 
          p-2
          border-2
          shadow-md
          rounded-2xl
}

.BarCardTitle{
  @apply text-3xl 
         font-bold        
         m-4
         w-1/5
}

.BarCardLogo{
  @apply text-3xl 
         font-bold        
         m-4
         w-full
}

.BarCardDescripcion {
  @apply text-lg
         m-4
}

.BarCardMapa {
  @apply  p-2
          w-80
          border-2
          shadow-md
          rounded-2xl
}

.BarCardButton {
  @apply bg-blue-300
          p-2
          m-2
          w-48          
          border-2
          rounded-lg
          flex 
          text-center
          align-middle
}

.BarCardButtonEliminar {
  @apply bg-red-300
          p-2
          m-2
          w-48          
          border-2
          rounded-lg
          flex 
          text-center
          align-middle
}

/* Toggle Button */ 

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
